
html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    /* margin: 150px 0; */
}


/*////////////////////////////// HEADER //////////////////////////////*/

#topbar 
{ 
    background: #5c5c5c; 
    position: fixed;
    top: 0;
    /* overflow: hidden; */
    z-index: 101;
    left: 0;
    right: 0;
    height: 90px;
    /* display: flex; */
}

/* #topbar > nav { 
    width: 1550px; 
    overflow: hidden; 
    margin: 0px auto;
} */

#topbar > nav > ul {
    /* list-style-type: none;  */
    padding-right: 20px;
    float: right;
}

#topbar > nav > ul > li {
    display: inline;
    list-style-type: none;
}

#topbar > nav > ul > li > a { 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px;
    color: #fff;
    top: 23px;
    position: relative;
}

#topbar > nav > ul > li > a:hover { 
    color: #f2c840;
}

#topbar > nav > ul > li:last-child a {
    border: 2px solid #fff;
    line-height: 0;
    display: inline-block;
    width: 130px;
}


#topbar > nav > ul > li:last-child a:hover {
    color: #5c5c5c;
    background-color: #fff;
}



/*////////////////////////////// HOME PAGE //////////////////////////////*/

#img1 {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.img {
    margin-top: -100px;
    margin-bottom: -300px;
}

#p1 {
    font-family: abril-fatface;
    font-weight: 400;
    font-style: normal;
    font-size: 86px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1.1em;
    color: #fff;
    text-align: center;
    margin-top: 475px;
}

#p2 {
    font-family: futura-pt;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.3em;
    color: #f7f3f3;
    margin: 20px auto;
    text-align: center;
}

#white_block {
    width: 100%;
    height: 620px;
    background-color: #fff;
    margin: 30px 0; 
}

.p3 {
    position: absolute;
    top:600px;
    font-family: futura-pt;
    font-weight: 300;
    font-style: normal;
    font-size: 42px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1.2em;
    text-align: center;

}

#img2 {
    width: 100%;
}



/*////////////////////////////// CONTACT US //////////////////////////////*/

#contactus_text_address {
    text-align: center;
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 220px;
    background-color: #fff;
    top: -350px;
    z-index: -1;
}

#emma_paragraph {
    font-family: futura-pt;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.3em;
}

#setupamiting, #blog_text {
    color: #fff;
    font-size: 86px;
    position: absolute;
    top: 240px;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-family: Abril Fatface;
}

h4 {
    text-transform: uppercase;
    text-align: center;
}

#contactus_img {
    width: 100%;
    position: relative;
    top: -130px;
    bottom: 300px;
    z-index: -2;
}

.container {
    top: -430px;
    position: relative;
    width: 50%;
    margin: 0 42%;
    
}


.btn {
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#fields_required {
    color: red;
}

/*////////////////////////////// MAP //////////////////////////////*/

iframe, #map {
    width: 600px;
    height: 450px;
    border: 0; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -220px; 
}

/*////////////////////////////// FOOTER //////////////////////////////*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding-top: 1rem;
  }

  /* social links */
  .social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    /* margin-top: 0.25rem; */
    /* margin-bottom: 1rem; */
    /* padding-left: 0; */
  }

  .social-icons>li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .social-icons a {
    position: relative;
    background-color: #eee;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
  }

  .social-icons a:hover {
    background-color: #e0e0e0;
  }

  .social-icons a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: .65rem;
    top: .65rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .social-icons .social-icon-twitter::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%231da1f2' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'/%3E%3C/svg%3E");
  }

  .social-icons .social-icon-fb::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%234267B2' d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z'/%3E%3C/svg%3E");
  }

  .social-icons .social-icon-telegram::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2327a7e7' d='M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z'/%3E%3C/svg%3E");
  }

  .social-icons .social-icon-youtube::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23ff0000' d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'/%3E%3C/svg%3E");
  }

#join_us {
    text-align:center;
    color: #fff;
}


/* footer {
    flex-grow: 0;
} */

#footer 
{ 
    width: 100%; 
    background: #5c5c5c; 
    margin: 0 auto;
    line-height: 3em;
    z-index: 101;
    overflow: hidden; 
    /* bottom: 0; */
    /* left: 0;
    right: 0; */
    height: 90px;

}


/*////////////////////////////// BLOG //////////////////////////////*/

 #blog_img {
    width: 100%;
    position: relative;
    top: -220px;
    z-index: -2;
}


#blog_img_position {
    height: 300px;
    width: 100%;
    position: relative;
    z-index: 100;
    background-color: #fff;
    bottom: 520px;
}


/*////////////////////////////// BLOG/ARTICLE //////////////////////////////*/

.article_text {
    margin: 0 450px;
    font-family: europa;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 1.6em;
}

.blog_img_1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;
    margin-top: 180px;
    display: block;
}

/*////////////////////////////// BLOG/ARTICLE //////////////////////////////*/

.blog-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 0;
}

@media only screen and (max-width: 540px) {
    .blog-wrapper {
        grid-template-columns: 1fr;
    }
}

li.blog-element {
    padding: 20px;
    font-size: 20px;
    width: 100%;
    background: #acacac;
    color: black;
    position: relative;
    bottom: 700px;
    z-index: 100;
    text-align: center;
    list-style-type: none; 
}

#paginator {
    position: relative;
    bottom: 700px;
}



